In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
!git clone https://github.com/AshishJangra27/Gaana-Data-Analysis

Cloning into 'Gaana-Data-Analysis'...
remote: Enumerating objects: 26, done.
remote: Counting objects: 100% (26/26), done.
remote: Compressing objects: 100% (26/26), done.
remote: Total 26 (delta 8), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (26/26), done.

In [3]:
df = pd.read_csv('Gaana-Data-Analysis/songs.csv')
df.head()

,name,singer,singer_id,duration,link,language
0,Dil - E - Nadan Tujhe,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,05:00,/dil-e-nadan-tujhe-3,Urdu
1,Agar Hum Kahen Aur Woh Muskara De,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,06:26,/agar-hum-kahen-aur-woh-muskura-den,Urdu
2,Unke Dekhe Se,Jagjit Singh,/artist/jagjeet-singh-1,03:41,/unke-dekhe-se,Urdu
3,Yeh Na Thi Hamari Qismat - Chitra Singh,Chitra Singh,/artist/chitra-singh,04:26,/yeh-na-thi-hamari-qismat-2,Urdu
4,Hazaron Khwahishen Aisi,Jagjit Singh,/artist/jagjeet-singh-1,05:39,/hazaron-khwahishen-aisi-1,Urdu

In [4]:
df.shape

(41355, 6)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41355 entries, 0 to 41354
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       41355 non-null  object
 1   singer     41355 non-null  object
 2   singer_id  41355 non-null  object
 3   duration   41355 non-null  object
 4   link       41355 non-null  object
 5   language   41355 non-null  object
dtypes: object(6)
memory usage: 1.9+ MB

In [6]:
df.isnull().sum()

name         0
singer       0
singer_id    0
duration     0
link         0
language     0
dtype: int64

In [7]:
mx = max(df['duration'])
mx

'59:55'

In [9]:
df['language'].value_counts()

Telugu        4996
Hindi         4993
Old           4993
Marathi       4699
Tamil         4677
Punjabi       3818
Kannada       3559
Urdu          3116
Gujarati      2115
Bengali        958
Odia           940
Assamese       724
Rajasthani     541
Bhojpuri       519
Malayalam      479
Haryanvi       228
Name: language, dtype: int64

In [11]:
df['duration']

0        05:00
1        06:26
2        03:41
3        04:26
4        05:39
         ...
41350    03:23
41351    03:56
41352    07:36
41353    04:29
41354    03:22
Name: duration, Length: 41355, dtype: object

In [24]:
#  converting duration into seconds
lst = []
for op in df['duration']:
  op = op.split(':')
  m = int(op[0])
  s = int(op[1])
  sec = m* 60 + s
  lst.append(sec)
df['duration'] = lst 
df.head()

,name,singer,singer_id,duration,link,language
0,Dil - E - Nadan Tujhe,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,300,/dil-e-nadan-tujhe-3,Urdu
1,Agar Hum Kahen Aur Woh Muskara De,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,386,/agar-hum-kahen-aur-woh-muskura-den,Urdu
2,Unke Dekhe Se,Jagjit Singh,/artist/jagjeet-singh-1,221,/unke-dekhe-se,Urdu
3,Yeh Na Thi Hamari Qismat - Chitra Singh,Chitra Singh,/artist/chitra-singh,266,/yeh-na-thi-hamari-qismat-2,Urdu
4,Hazaron Khwahishen Aisi,Jagjit Singh,/artist/jagjeet-singh-1,339,/hazaron-khwahishen-aisi-1,Urdu

In [26]:
# AVerage of Duration
avg = df['duration'].sum()//len(df['duration'])
print('average duration of song in seconds:',avg)

average duration of song in seconds: 295

In [27]:
df['language'].nunique()

16

In [28]:
df['language'].unique()

array(['Urdu', 'Gujarati', 'Tamil', 'Kannada', 'Rajasthani', 'Haryanvi',
       'Punjabi', 'Hindi', 'Old', 'Malayalam', 'Marathi', 'Telugu',
       'Odia', 'Bhojpuri', 'Assamese', 'Bengali'], dtype=object)

In [30]:
df['duration'].mean()

295.3130697618184

In [34]:
#Average duration of song in each language 
for lang in df['language'].unique():
  print(lang, int(df[df['language'] == lang]['duration'].mean()))

Urdu 407
Gujarati 271
Tamil 270
Kannada 250
Rajasthani 291
Haryanvi 320
Punjabi 324
Hindi 307
Old 307
Malayalam 242
Marathi 281
Telugu 279
Odia 257
Bhojpuri 357
Assamese 228
Bengali 255

In [36]:
all_singer = []
for singers in df['singer']:
  all_singer += singers.split('|')

print('Total Singers : ', len(set(all_singer)))

Total Singers :  3940

In [40]:
#which singer has most number of songs played
from tqdm import tqdm
data = []

unique_singers = list(set(all_singer))

for i in tqdm(unique_singers):

  c = 0
  for singers_ in df['singer']:
    if (i in singers_):
      c += 1

  data.append([i,c])

100%|██████████| 3940/3940 [00:28<00:00, 137.67it/s]

In [44]:
song = pd.DataFrame(data,columns = ['singer','songs'])
song.head()

                  singer  songs
0    Deepan Chakarvarthy      3
1            Lakshmi Bai      1
2           Vaman Kardak      7
3  Inayat Hussain Bhatti     17
4       Pragya Khandekar      1

In [45]:
song.sort_values(by = 'songs',ascending=False).head()

                      singer  songs
400   S. P. Balasubrahmanyam   3659
2517                   Kumar   3270
3886                 Susheel   3216
2191                Susheela   3215
381              P. Susheela   3213

In [46]:
#most song singed by a singer in each language
for lang in df['language'].unique():
  df_ = df[df['language'] == lang]
  
  all_singer = []
  for singers in df_['singer']:
    all_singer += singers.split('|')

  print(lang, len(df_),len(set(all_singer)))

Urdu 3116 385
Gujarati 2115 303
Tamil 4677 510
Kannada 3559 379
Rajasthani 541 218
Haryanvi 228 76
Punjabi 3818 636
Hindi 4993 515
Old 4993 515
Malayalam 479 72
Marathi 4699 569
Telugu 4996 369
Odia 940 243
Bhojpuri 519 109
Assamese 724 228
Bengali 958 192